main{
	margin-top: 20px;
}
.main_container{
	padding-right: 10px;
}
.equation{
	height: 100px;
	width: 100%;
	margin: 0;
	padding: 10px;
}
.reponse{
	height: auto;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.solution{
	height: auto;
	display: none;
	padding: 10px !important;
}
.main_text{
	margin-top: 5px;
	color: #0d47a1;
}
.col .row{
	margin-left: 0;
}
.titre{
	margin: 0;
}
.reponse .row{
	width: 100%;
	margin-right: 0;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fadein{
    -webkit-animation: fadein 0.5s ease-in;
    -moz-animation: fadein 0.5s ease-in;
    animation: fadein 0.5s ease-in;
}
.gif{
	height: 250px;
	width: 250px;
	background-repeat: no-repeat;
}
.text_result{
	text-decoration: brown;
	color: #0d47a1;
	width: 300px;
}
.button_retry{
	margin: 0;
	width: 100%;
	margin-top: 10%;
}
.value_result{
	width: 100%;
}


/* Page Ajouter courss */
.row-ajout-master-titre-cours{
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.col-ajout-titre-cours{
  height: 100%;
  padding-top: 10px !important;

}
.row-master-contenu-cours{
  height: 250px;
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: flex-end;
}

.contenu-cours{
  height: 100%;
  padding-top: 20px !important;
}
.cours-texte{
  margin-left: 50px !important;
}
.master-validate-button{
  height: 146px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.cours-sous-titre{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.new-paragraph{
  width: calc(100% + 60px);
  margin-bottom: 0;
  position: absolute;
  left: -30px;
  top:220px
  
}
.new-paragraph .add-div{
  padding: 0;

}
.new-paragraph .delete-div{
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.cours-text-area{
  height: 100%;
  width: 100%;
}
textarea {
  resize: none;
  width: 100%;
  height: 70%;
}
.cours{
  height: 100%;
}
.delete-paragraph{
  position: absolute;
  width: calc(100% + 30px);
  margin: 0;
  display: flex;
  justify-content: flex-end;
  left: 0px;
  top: -20px;
}
